@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font: 1em "Pretendard", "Roboto", "Verdana", "Dotum", "AppleGothic",
    sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
a {
  color: #191919;
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
  display: block;
}

/* header */
#cnb-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  color: #be8354;
  font-size: 15px;
  padding: 8px 0;
  box-sizing: border-box;
  z-index: 50;
}
#cnb-header .cnb-header-bg {
  position: relative;
}
#cnb-header .cnb-header-bg nav {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 3rem;
  padding: 1.25rem 50px 1.25rem 30px;
  background-color: #191919;
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  z-index: 1;
  transition: all 0.5s ease;
}
#cnb-header .cnb-header-bg nav .logo {
  max-width: 90px;
  width: 100%;
}
#cnb-header .cnb-header-bg nav .link {
  display: flex;
  width: 100%;
}
#cnb-header .cnb-header-bg nav .link .cnb-menu-list {
  display: flex;
  gap: 2.75rem;
  align-items: center;
  font-weight: 500;
}
#cnb-header .cnb-header-bg nav .link .cnb-menu-list li {
  padding: 0.25rem 0;
}
#cnb-header .cnb-header-bg nav .link .cnb-menu-list li a {
  position: relative;
  padding: 0.5rem 0.25rem;
  color: #be8354;
}
#cnb-header .cnb-header-bg nav .link .cnb-menu-list li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ffa257;
  width: 0;
  height: 1px;
  transition: all 0.2s ease-in;
}
#cnb-header .cnb-header-bg nav .link .cnb-menu-list li a:hover {
  color: #ffa257;
}
#cnb-header .cnb-header-bg nav .link .cnb-menu-list li a:hover::after {
  width: 100%;
}
#cnb-header .cnb-header-bg nav .link ul:last-child {
  margin-left: auto;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
#cnb-header .cnb-header-bg nav .link ul:last-child li {
  flex: 1;
}
#cnb-header .cnb-header-bg nav .link ul:last-child li:last-child {
  position: relative;
}
#cnb-header .cnb-header-bg nav .link ul:last-child li:last-child span {
  position: absolute;
  top: -8px;
  right: -100%;
  font-size: 0.875rem;
  color: #be8354;
  width: 1.5rem;
}

/* main */
#wrap #container #contents .bg {
  width: 100%;
  background-color: #fafafa;
}
#wrap #container #contents .bg .banner {
  height: 100vh;
  background: url("https://kanu.co.kr/layout/basic/img/main/kanuMainBanner.jpg")
    no-repeat center;
  background-size: cover;
}
/* main - section: 카누 바리스타 전용머신 */
#wrap #container #contents .coffee-machine {
  padding-top: 100px;
}
#wrap #container #contents .coffee-machine .tabmenu {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 16px;
  text-align: center;
}
#wrap #container #contents .coffee-machine .tabmenu h2 {
  font-size: 32px;
}
#wrap #container #contents .coffee-machine .tabmenu .kanu-tab {
  margin-top: 0.75rem;
  display: flex;
  gap: 2rem;
  list-style-type: none;
  padding: 0;
}
#wrap #container #contents .coffee-machine .tabmenu .kanu-tab li {
  padding: 0.25rem;
  cursor: pointer;
  transition: color 0.3s;
}
#wrap #container #contents .coffee-machine .tabmenu .kanu-tab li.active {
  color: #be8354;
  border-bottom: 2px solid #be8354;
}
#wrap #container #contents .coffee-machine .kanu-tab-rander {
  display: none;
  margin-top: 50px;
}
#wrap #container #contents .coffee-machine .kanu-tab-rander.active {
  display: block;
}
#wrap #container #contents .coffee-machine .kanu-tab-rander .product-img {
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrap #container #contents .coffee-machine .kanu-tab-rander .product-detail {
  margin-top: -196px;
  padding: 70px 0;
  background-color: #222;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  color: #f1f1f1;
}
#wrap
  #container
  #contents
  .coffee-machine
  .kanu-tab-rander
  .product-detail
  p:nth-child(1) {
  padding-top: 180px;
  color: #be8354;
  font-size: 1.125rem;
}
#wrap
  #container
  #contents
  .coffee-machine
  .kanu-tab-rander
  .product-detail
  p:nth-child(2) {
  font-size: 2rem;
  font-weight: 600;
}
#wrap
  #container
  #contents
  .coffee-machine
  .kanu-tab-rander
  .product-detail
  p:nth-child(3) {
  margin-top: 8px;
  color: #ccc;
  font-size: 1rem;
  text-align: center;
}
#wrap #container #contents .coffee-machine .kanu-tab-rander #product-detail-bg {
  background: linear-gradient(180deg, #cacaca 0%, #f0f0f0 42%, #cacaca 100%);
}
#wrap
  #container
  #contents
  .coffee-machine
  .kanu-tab-rander
  #product-detail-bg
  p {
  color: #444;
}
#wrap
  #container
  #contents
  .coffee-machine
  .kanu-tab-rander
  #product-detail-bg
  p:first-child {
  color: #be8354;
}
#wrap #container #contents .coffee-machine .kanu-tab-rander .product-detail a {
  margin-top: 1.5rem;
  padding: 0.25rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border-bottom: 1px solid #444;
  font-size: 0.875rem;
}
#wrap
  #container
  #contents
  .coffee-machine
  .kanu-tab-rander
  .product-detail
  .urban-shop-link {
  color: #f1f1f1;
  border-bottom-color: #f1f1f1;
}
