* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
}
a {
  font-family: "Roboto", sans-serif;
  color: #191919;
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
  display: block;
}
[data-aos^="fade"][data-aos^="fade"] {
  opacity: 1;
}

/* header */
#cnb-header {
  font-family: "Roboto", sans-serif;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  color: #be8354;
  font-size: 15px;
  padding: 8px 0;
  box-sizing: border-box;
  z-index: 50;
}
#cnb-header .cnb-header-bg {
  position: relative;
}
#cnb-header .cnb-header-bg nav {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 3rem;
  padding: 1.25rem 50px 1.25rem 30px;
  background-color: #191919;
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  z-index: 1;
  transition: all 0.5s ease;
}
#cnb-header .cnb-header-bg nav .logo {
  max-width: 90px;
  width: 100%;
}
#cnb-header .cnb-header-bg nav .link {
  display: flex;
  width: 100%;
}
#cnb-header .cnb-header-bg nav .link .cnb-menu-list {
  display: flex;
  gap: 2.75rem;
  align-items: center;
  font-weight: 500;
}
#cnb-header .cnb-header-bg nav .link .cnb-menu-list li {
  padding: 0.25rem 0;
}
#cnb-header .cnb-header-bg nav .link .cnb-menu-list li a {
  position: relative;
  padding: 0.5rem 0.25rem;
  color: #be8354;
}
#cnb-header .cnb-header-bg nav .link .cnb-menu-list li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ffa257;
  width: 0;
  height: 1px;
  transition: all 0.2s ease-in;
}
#cnb-header .cnb-header-bg nav .link .cnb-menu-list li a:hover {
  color: #ffa257;
}
#cnb-header .cnb-header-bg nav .link .cnb-menu-list li a:hover::after {
  width: 100%;
}
#cnb-header .cnb-header-bg nav .link ul:last-child {
  margin-left: auto;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
#cnb-header .cnb-header-bg nav .link ul:last-child li {
  flex: 1;
}
#cnb-header .cnb-header-bg nav .link ul:last-child li:last-child {
  position: relative;
}
#cnb-header .cnb-header-bg nav .link ul:last-child li:last-child span {
  position: absolute;
  top: -8px;
  right: -100%;
  font-size: 0.875rem;
  color: #be8354;
  width: 1.5rem;
}

/* main */
#wrap #container #contents .bg {
  width: 100%;
  background-color: #fafafa;
}
#wrap #container #contents .bg .banner {
  height: 100vh;
  background: url("https://kanu.co.kr/layout/basic/img/main/kanuMainBanner.jpg")
    no-repeat center;
  background-size: cover;
}
/* section-카누 바리스타 전용머신 */
#wrap #container #contents .coffee-machine {
  padding-top: 100px;
}
#wrap #container #contents .coffee-machine .tabmenu {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 16px;
  text-align: center;
}
#wrap #container #contents .coffee-machine .tabmenu h2 {
  font-size: 32px;
}
#wrap #container #contents .coffee-machine .tabmenu .kanu-tab {
  margin-top: 0.75rem;
  display: flex;
  gap: 2rem;
  list-style-type: none;
  padding: 0;
}
#wrap #container #contents .coffee-machine .tabmenu .kanu-tab li {
  padding: 0.25rem;
  cursor: pointer;
  transition: color 0.3s;
}
#wrap #container #contents .coffee-machine .tabmenu .kanu-tab li.active {
  color: #be8354;
  border-bottom: 2px solid #be8354;
}
#wrap #container #contents .coffee-machine .kanu-tab-rander {
  display: none;
  margin-top: 50px;
}
#wrap #container #contents .coffee-machine .kanu-tab-rander.active {
  display: block;
}
#wrap #container #contents .coffee-machine .kanu-tab-rander .product-img {
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrap #container #contents .coffee-machine .kanu-tab-rander .product-detail {
  margin-top: -196px;
  padding: 70px 0;
  background-color: #222;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  color: #f1f1f1;
}
#wrap
  #container
  #contents
  .coffee-machine
  .kanu-tab-rander
  .product-detail
  p:nth-child(1) {
  padding-top: 180px;
  color: #be8354;
  font-size: 1.125rem;
}
#wrap
  #container
  #contents
  .coffee-machine
  .kanu-tab-rander
  .product-detail
  p:nth-child(2) {
  font-size: 2rem;
  font-weight: 600;
}
#wrap
  #container
  #contents
  .coffee-machine
  .kanu-tab-rander
  .product-detail
  p:nth-child(3) {
  margin-top: 8px;
  color: #ccc;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}
#wrap #container #contents .coffee-machine .kanu-tab-rander #product-detail-bg {
  background: linear-gradient(180deg, #cacaca 0%, #f0f0f0 42%, #cacaca 100%);
}
#wrap
  #container
  #contents
  .coffee-machine
  .kanu-tab-rander
  #product-detail-bg
  p {
  color: #444;
}
#wrap
  #container
  #contents
  .coffee-machine
  .kanu-tab-rander
  #product-detail-bg
  p:first-child {
  color: #be8354;
}
#wrap #container #contents .coffee-machine .kanu-tab-rander .product-detail a {
  margin-top: 1.5rem;
  padding: 0.25rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border-bottom: 1px solid #444;
  font-size: 0.875rem;
}
#wrap
  #container
  #contents
  .coffee-machine
  .kanu-tab-rander
  .product-detail
  .urban-shop-link {
  color: #f1f1f1;
  border-bottom-color: #f1f1f1;
}
/* section-카누 바리스타 캡슐 */
#wrap #container #contents .kanu-capsule {
  padding: 100px 0 120px 0;
  color: #f1f1f1;
  background-color: #3d3d3c;
}
#wrap #container #contents .kanu-capsule .kanu-capsule-bg {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
#wrap #container #contents .kanu-capsule .kanu-capsule-bg .title {
  color: #be8354;
  font-size: 1.125rem;
}
#wrap #container #contents .kanu-capsule .kanu-capsule-bg .title-sub {
  margin-top: 0.875rem;
  font-size: 2rem;
  font-weight: 600;
}
#wrap #container #contents .kanu-capsule .kanu-capsule-bg ul {
  margin-top: 50px;
  display: flex;
  gap: 1.5rem;
}
#wrap #container #contents .kanu-capsule .kanu-capsule-bg ul li {
  flex: 1;
  height: 554px;
  padding: 70px 90px 114px 90px;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#wrap #container #contents .kanu-capsule .kanu-capsule-bg ul li div {
  width: 200px;
  height: 200px;
}
#wrap
  #container
  #contents
  .kanu-capsule
  .kanu-capsule-bg
  ul
  li
  p:nth-of-type(1) {
  width: 120%;
  font-size: 22px;
  font-weight: 500;
}
#wrap
  #container
  #contents
  .kanu-capsule
  .kanu-capsule-bg
  ul
  li
  p:nth-of-type(2) {
  margin-top: 1rem;
  color: #ddd;
  line-height: 1.5rem;
}
#wrap #container #contents .kanu-capsule .kanu-capsule-bg ul li a {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border: 1px solid #f1f1f1;
  color: #f1f1f1;
  font-size: 0.875rem;
  padding: 0.875rem 0.5rem;
  line-height: 1.25rem;
  width: 140px;
  height: 2.75rem;
}
#wrap #container #contents .capsule-introduce {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#wrap #container #contents .capsule-introduce .photo div {
  height: 600px;
  background-image: url("https://kanu.co.kr/layout/basic/img/main/sepcialKanuMachine.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#wrap #container #contents .capsule-introduce .contents {
  background-color: #212121;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#wrap #container #contents .capsule-introduce .contents .inner {
  width: calc(1280px / 2);
  display: flex;
  justify-content: flex-end;
}
#wrap #container #contents .capsule-introduce .contents .inner div {
  display: inline-flex;
  flex-direction: column;
}
#wrap #container #contents .capsule-introduce .contents .inner div .title {
  color: #be8354;
  font-size: 1.125rem;
  margin-bottom: 12px;
}
#wrap #container #contents .capsule-introduce .contents .inner div .product {
  font-size: 2.125rem;
  font-weight: 600;
}
#wrap #container #contents .capsule-introduce .contents .inner div .detail {
  margin-top: 1.5rem;
  color: #ccc;
  font-size: 1rem;
  line-height: 1.8;
}
#wrap #container #contents .capsule-introduce .contents .inner div a {
  margin-top: 2.5rem;
  padding: 0.875rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border: 1px solid #f1f1f1;
  width: 140px;
  height: 2.75rem;
  color: #f1f1f1;
}
#wrap #container #contents .capsule-introduce .contents-reverse {
  height: 600px;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#wrap #container #contents .capsule-introduce .contents-reverse .inner {
  width: calc(1280px / 2);
  display: flex;
  justify-content: flex-start;
}
#wrap #container #contents .capsule-introduce .contents-reverse .inner div {
  display: inline-flex;
  flex-direction: column;
}
#wrap
  #container
  #contents
  .capsule-introduce
  .contents-reverse
  .inner
  div
  .title {
  color: #be8354;
  font-size: 1.125rem;
  margin-bottom: 12px;
}
#wrap
  #container
  #contents
  .capsule-introduce
  .contents-reverse
  .inner
  div
  .product {
  font-size: 2.125rem;
  font-weight: 600;
}
#wrap
  #container
  #contents
  .capsule-introduce
  .contents-reverse
  .inner
  div
  .detail {
  margin-top: 1.5rem;
  color: #999;
  font-size: 1rem;
  line-height: 1.8;
}
#wrap #container #contents .capsule-introduce .contents-reverse .inner div a {
  margin-top: 2.5rem;
  padding: 0.875rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border: 1px solid #111;
  width: 140px;
  height: 2.75rem;
  color: #111;
}
#wrap #container #contents .capsule-introduce .photo-reverse div {
  height: 600px;
  background-image: url("https://kanu.co.kr/layout/basic/img/main/sepcialKanuCapsule.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* 시리얼 번호 등록 */
#wrap #container #contents .serial-number {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#wrap #container #contents .serial-number .serial-bg {
  width: 100%;
  height: 490px;
  background-color: #222;
}
#wrap #container #contents .serial-number .content {
  width: 1280px;
  margin-top: -380px;
}
#wrap #container #contents .serial-number .content .logo {
  width: 104px;
  height: 30px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap #container #contents .serial-number .content .title {
  margin-top: 1rem;
  font-size: 32px;
  font-weight: 600;
  color: #f1f1f1;
  text-align: center;
}
#wrap #container #contents .serial-number .content .benefit {
  margin-top: 50px;
  height: 680px;
}
#wrap #container #contents .serial-number .content .register {
  padding: 108px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#wrap #container #contents .serial-number .content .register .title {
  color: #111;
  font-size: 32px;
  font-weight: 600;
}
#wrap #container #contents .serial-number .content .register .info {
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
#wrap #container #contents .serial-number .content .register a {
  margin-top: 2.5rem;
  padding: 0.875rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border: 1px solid #111;
  font-size: 0.875rem;
  width: 140px;
  height: 44px;
}
#wrap #container #contents .serial-number .content .register ul {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  color: #f1f1f1;
  font-size: 22px;
}
#wrap #container #contents .serial-number .content .register ul li {
  width: 154px;
  height: 154px;
  padding: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  background: linear-gradient(180deg, #111 0%, #444 47%, #111 100%);
}
#wrap #container #contents .serial-number .content .register ul li span strong {
  font-size: 32px;
  font-weight: 400;
}

/* footer */
footer {
  color: #edecec;
  background-color: #111;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 0.875rem;
}
footer .inner {
  display: flex;
  justify-content: space-between;
  gap: 108px;
  width: 1280px;
  margin: 0 auto;
}
footer .inner .photo {
  flex: 0 1 242px;
}
footer .inner .content {
  flex: 1;
}
footer .inner .content .company {
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 1rem;
}
footer .inner .content > ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 200px;
  justify-content: space-between;
}
footer .inner .content > ul li {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
footer .inner .content > ul li p {
  color: #aeabab;
  font-weight: 500;
}
footer .inner .content > ul li .confirm {
  padding: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 32px;
  font-size: 13px;
  color: #edecec;
  border: 1px solid #7c7777;
  border-radius: 0.25rem;
  cursor: pointer;
}
footer .inner .content .copyright {
  margin-top: 3rem;
}
footer .inner .content .copyright ul {
  display: flex;
  gap: 36px;
}
footer .inner .content .copyright ul li a {
  padding: 0.25rem;
  color: #f1f1f1;
}
footer .inner .content .copyright p {
  margin-top: 0.75rem;
  color: #625e5e;
  font-weight: 500;
}

@media (max-width: 1536px) {
  #wrap #container #contents .capsule-introduce .contents .inner,
  #wrap #container #contents .capsule-introduce .contents-reverse .inner {
    justify-content: center;
  }
}
